In [1]:
from epitools import get_data
import pandas as pd

In [2]:
output = []
for election, year in [
    ("councilor", 2012),
    ("councilor", 2016),
    ("councilor", 2021)
    # ("first_round", 2013),
    # ("first_round", 2017),
    # ("first_round", 2021),
]:
    temp = get_data(
        country="Chile",
        year=year,
        election=election,
        aggregation="commune"
    )
    temp = temp.drop(columns=["epi", "epi_between"])
    output.append(temp)

df = pd.concat(output, ignore_index=True)
df["commune"] = df["commune"].replace({
    "CABO DE HORNOS(EX-NAVARINO)": "CABO DE HORNOS",
    "CABO DE HORNOS Y ANTARTICA": "CABO DE HORNOS",
    "AYSEN": "AISEN",
    "TREHUACO": "TREGUACO",
    "LLAY-LLAY": "LLAILLAY",
    "TIL TIL": "TILTIL",
    "OHIGGINS": "O´HIGGINS",
    "O'HIGGINS": "O´HIGGINS",
    "PAIHUANO": "PAIGUANO",
    "MARCHIGUE": "MARCHIHUE",
    "COYHAIQUE": "COIHAIQUE",
    "OLLAGUE": "OLLAGÜE"
})

df = df.rename(columns={"commune": "Comuna"})
# {'AISEN', 'COIHAIQUE', 'MARCHIHUE', 'OLLAGÜE', 'O´HIGGINS', 'TREGUACO'}
df.head()

            Comuna  epi_within  year
0            AISEN    0.064407  2012
1        ALGARROBO    0.053537  2012
2            ALHUE    0.043886  2012
3      ALTO BIOBIO    0.043715  2012
4  ALTO DEL CARMEN    0.065159  2012

In [3]:
dd = df.pivot(index="Comuna", columns="year", values="epi_within")
dd = dd.reset_index()
# dd.columns = [
#     "Comuna",
#     "Presidencial 2013 (EP)",
#     "Presidencial 2017 (EP)",
#     "Presidencial 2021 (EP)",
#     "Presidencial 2013 (Between-EP)",
#     "Presidencial 2017 (Between-EP)",
#     "Presidencial 2021 (Between-EP)",
#     "Presidencial 2013 (Within-EP)",
#     "Presidencial 2017 (Within-EP)",
#     "Presidencial 2021 (Within-EP)",
# ]
dd.head()

year           Comuna      2012      2016      2021
0               AISEN  0.064407  0.074750  0.053637
1           ALGARROBO  0.053537  0.040409  0.068700
2               ALHUE  0.043886  0.050984  0.042038
3         ALTO BIOBIO  0.043715  0.054974  0.170888
4     ALTO DEL CARMEN  0.065159  0.062821  0.069634

In [4]:
# dd.sort_values("Comuna").head(50)

In [5]:
data = pd.read_csv(
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vSSncoe7MOFOpcv51GlTRJxNO-Nbd7ORwvTVfFah3YMM7Td2i0dFwHLea5UIuDbiA/pub?output=csv"
)
for a, b in [("Á", "A"), ("É", "E"), ("Í", "I"), ("Ó", "O"), ("Ú", "U")]:
    data["Comuna"] = data["Comuna"].str.replace(a, b)

data.head()

,ID_antiguo,ID_nuevo,Comuna,provincia,Region,Alcalde y consejales 2008,Presidenciales 2009,Senador y diputados 2009,Alcalde y consejales 2012,Presidenciales 2013,...,Cosejero regional 2013,Alcalde y consejales 2016,Presidenciales 2017,Senador y diputados 2017,Cosejero regional 2017,Presidenciales 2021,Senador y diputados 2021,Cosejero regional 2021,Gobernador 2021,Alcalde y consejales 2021
0,1101,1101,IQUIQUE,Iquique,Tarapaca,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1107,1107,ALTO HOSPICIO,Iquique,Tarapaca,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1401,1401,POZO ALMONTE,Tamarugal,Tarapaca,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1402,1402,CAMIÑA,Tamarugal,Tarapaca,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1403,1403,COLCHANE,Tamarugal,Tarapaca,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# data.sort_values("Comuna").head(50)

In [7]:
pd.merge(
    data[["ID_antiguo", "ID_nuevo", "Comuna", "provincia", "Region"]],
    dd,
    on="Comuna",
    how="outer"
).to_excel("Datos_EP_Chile.xlsx", index=False)

In [8]:
pd.merge(
    data[["ID_antiguo", "ID_nuevo", "Comuna", "provincia", "Region"]],
    dd,
    on="Comuna",
    how="outer"
)

,ID_antiguo,ID_nuevo,Comuna,provincia,Region,2012,2016,2021
0,1101.0,1101.0,IQUIQUE,Iquique,Tarapaca,0.054217,0.064174,0.064569
1,1107.0,1107.0,ALTO HOSPICIO,Iquique,Tarapaca,0.055461,0.069964,0.069807
2,1401.0,1401.0,POZO ALMONTE,Tamarugal,Tarapaca,0.072676,0.066533,0.075994
3,1402.0,1402.0,CAMIÑA,Tamarugal,Tarapaca,0.043377,0.036981,0.035817
4,1403.0,1403.0,COLCHANE,Tamarugal,Tarapaca,0.055246,0.050092,0.051709
...,...,...,...,...,...,...,...,...
341,15101.0,15101.0,ARICA,Arica,Arica y Parinacota,0.059663,0.081083,0.070518
342,15102.0,15102.0,CAMARONES,Arica,Arica y Parinacota,0.086298,0.061655,0.063646
343,15201.0,15201.0,PUTRE,Parinacota,Arica y Parinacota,0.092989,0.090795,0.044867
344,15202.0,15202.0,GENERAL LAGOS,Parinacota,Arica y Parinacota,0.070486,0.041148,0.049225
345,NaN,NaN,ANTARTICA,NaN,NaN,0.026455,0.000000,NaN