In [81]:
import pandas as pd

In [82]:
country = "Italy"
year = 1948
election_type = "camera"
aggregation = "district"

In [83]:
df = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}.csv.gz")
df.head()

                  candidate  value elected party  party_id  district_id
0            PASTORE GIULIO  74017  Eletto    DC         1            1
1      SCALFARO OSCAR LUIGI  55499  Eletto    DC         1            1
2            PELLA GIUSEPPE  50814  Eletto    DC         1            1
3  RAPELLI GIUSEPPE ANTONIO  36238  Eletto    DC         1            1
4            MENOTTI NATALE  35238  Eletto    DC         1            1

In [84]:
# df = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}.csv.gz")
# df_location = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}_location.csv.gz")

# df = pd.merge(df, df_location, on="polling_id")
# df.head()

In [85]:
# data = df.groupby(["COLLUNINOM", "candidate"]).agg({"value": "sum"}).reset_index()
# data["rank"] = data.groupby(["COLLUNINOM"])["value"].rank(method="dense", ascending=False)# data.head()
# winners = data[data["rank"] == 1]["candidate"].unique()

# coalition = df[~df["candidate"].isin(winners)].groupby(["COLLUNINOM", "party"]).agg({"value": "sum", "candidate": "nunique"}).rename(columns={"candidate": "Q", "value": "N"}).reset_index()\
#     .rename(columns={"COLLUNINOM": "district_id", "party": "party_id"})

# aggregated = df[~df["candidate"].isin(winners)].groupby(["COLLUNINOM", "party", "candidate"]).agg({"value": "sum"}).reset_index().rename(columns={"COLLUNINOM": "district_id", "party": "party_id"})
# data = pd.merge(aggregated, coalition, on=["district_id", "party_id"])
# data["vQ/N"] = data["value"] * data["Q"] / data["N"]
# data.head()

In [86]:
coalition = df.groupby(["district_id", "party_id"]).agg({"value": "sum", "candidate": "nunique"}).rename(columns={"candidate": "Q", "value": "N"}).reset_index()
coalition.head()

   district_id  party_id       N   Q
0            1         1  709248  27
1            1         2    3395  27
2            1         3   15925  27
3            1         4   50499  27
4            1         5     121  10

In [87]:
data = pd.merge(df, coalition, on=["district_id", "party_id"])
data["vQ/N"] = data["value"] * data["Q"] / data["N"]
data.head()

,candidate,value,elected,party,party_id,district_id,N,Q,vQ/N
0,PASTORE GIULIO,74017,Eletto,DC,1,1,709248,27,2.817715
1,SCALFARO OSCAR LUIGI,55499,Eletto,DC,1,1,709248,27,2.112763
2,PELLA GIUSEPPE,50814,Eletto,DC,1,1,709248,27,1.934412
3,RAPELLI GIUSEPPE ANTONIO,36238,Eletto,DC,1,1,709248,27,1.379526
4,MENOTTI NATALE,35238,Eletto,DC,1,1,709248,27,1.341457

In [88]:
data.to_csv(f"data_universality/{country}_{year}_{election_type}.csv", index=False)