In [30]:
import pandas as pd

In [31]:
country = "Italy"
year = 1972
election_type = "camera"
aggregation = "district"

In [32]:
df = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}.csv.gz")
df.head()

            candidate   value elected party  party_id  district_id
0  PAJETTA GIAN CARLO  146788  Eletto   PCI         1            1
1        PUGNO EMILIO   53785  Eletto   PCI         1            1
2     LIBERTINI LUCIO   51901  Eletto   PCI         1            1
3        SPAGNOLI UGO   39197  Eletto   PCI         1            1
4   NAPOLEONI CLAUDIO   21962  Eletto   PCI         1            1

In [33]:
# df = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}.csv.gz")
# df_location = pd.read_csv(f"data_output/{country}/{year}_{election_type}_{aggregation}_location.csv.gz")

# df = pd.merge(df, df_location, on="polling_id")
# df.head()

In [34]:
# data = df.groupby(["COLLUNINOM", "candidate"]).agg({"value": "sum"}).reset_index()
# data["rank"] = data.groupby(["COLLUNINOM"])["value"].rank(method="dense", ascending=False)# data.head()
# winners = data[data["rank"] == 1]["candidate"].unique()

# coalition = df[~df["candidate"].isin(winners)].groupby(["COLLUNINOM", "party"]).agg({"value": "sum", "candidate": "nunique"}).rename(columns={"candidate": "Q", "value": "N"}).reset_index()\
#     .rename(columns={"COLLUNINOM": "district_id", "party": "party_id"})

# aggregated = df[~df["candidate"].isin(winners)].groupby(["COLLUNINOM", "party", "candidate"]).agg({"value": "sum"}).reset_index().rename(columns={"COLLUNINOM": "district_id", "party": "party_id"})
# data = pd.merge(aggregated, coalition, on=["district_id", "party_id"])
# data["vQ/N"] = data["value"] * data["Q"] / data["N"]
# data.head()

In [35]:
coalition = df.groupby(["district_id", "party_id"]).agg({"value": "sum", "candidate": "nunique"}).rename(columns={"candidate": "Q", "value": "N"}).reset_index()
coalition.head()

   district_id  party_id       N   Q
0            1         1  523841  37
1            1         2   27963  37
2            1         3   69837  37
3            1         4   49315  37
4            1         5  158787  37

In [36]:
data = pd.merge(df, coalition, on=["district_id", "party_id"])
data["vQ/N"] = data["value"] * data["Q"] / data["N"]
data.head()

,candidate,value,elected,party,party_id,district_id,N,Q,vQ/N
0,PAJETTA GIAN CARLO,146788,Eletto,PCI,1,1,523841,37,10.367948
1,PUGNO EMILIO,53785,Eletto,PCI,1,1,523841,37,3.798949
2,LIBERTINI LUCIO,51901,Eletto,PCI,1,1,523841,37,3.665878
3,SPAGNOLI UGO,39197,Eletto,PCI,1,1,523841,37,2.768567
4,NAPOLEONI CLAUDIO,21962,Eletto,PCI,1,1,523841,37,1.551223

In [37]:
data.to_csv(f"data_universality/{country}_{year}_{election_type}.csv", index=False)