In [4]:
import pandas as pd
from zipfile import ZipFile

In [25]:
output = []
path = f"data/{country}/{year}{month}.zip"
for i in ZipFile(path).namelist():
    print(i)
    if i[-3:] == "DAT":
        tmp = pd.read_csv(ZipFile(path).open("09021911.DAT"), error_bad_lines=False, header=None, encoding="latin-1")
        output.append(tmp)

01021911.DAT
02021911.DAT
03021911.DAT
04021911.DAT
05021911.DAT
06021911.DAT
07021911.DAT
08021911.DAT
09021911.DAT

C:\Users\cnavarreteliz\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3398: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 5547: expected 1 fields, saw 2\nSkipping line 5592: expected 1 fields, saw 2\n'

10021911.DAT
FICHEROS.doc
FICHEROS.rtf

In [29]:
pd.read_csv(ZipFile(path).open("01021911.DAT"), header=None)

                           0
0  0220191111111111111000000

In [31]:
[(1, 2, "election_type"), (3, 6, "year"), (7, 8, "month"), (9, 9, "n_round"),
(10, 11, "region_id"), (12, 13, "province_id"), (14, 16, "commune_id"), (17, 18, "district_commune_id"),
(19, 22, "section_id"), (23, 23, "polling_code"), (24, 30, "ine_census"), (31, 37, "census_cera"), (38, 44, "census_cere"),
(45, 51, "total_cere"), (52, 58, "voters_first"), (59, 65, "voters_second"), (66, 72, "blank_votes"), (73, 79, "null_votes"),
(80, 86, "votes"), (87, 93, "favour_votes"), (94, 100, "negative_votes"), (101, 101, "official_data")]

[(1, 2, 'election_type'),
 (3, 6, 'year'),
 (7, 8, 'month'),
 (9, 9, 'n_round'),
 (10, 11, 'region_id'),
 (12, 13, 'province_id'),
 (14, 16, 'commune_id'),
 (17, 18, 'district_commune_id'),
 (19, 22, 'section_id'),
 (23, 23, 'polling_code'),
 (24, 30, 'ine_census'),
 (31, 37, 'census_cera'),
 (38, 44, 'census_cere'),
 (45, 51, 'total_cere'),
 (52, 58, 'voters_first'),
 (59, 65, 'voters_second'),
 (66, 72, 'blank_votes'),
 (73, 79, 'null_votes'),
 (80, 86, 'votes'),
 (87, 93, 'favour_votes'),
 (94, 100, 'negative_votes'),
 (101, 101, 'official_data')]

In [28]:
pd.read_csv(ZipFile(path).open("09021911.DAT"), header=None)

                                                       0
0      022019111010400302001 B00004460000446000000000...
1      022019111010400602001 A00008420000842000000000...
2      022019111010400604001 B00004540000454000000000...
3      022019111010401303008 U00006620000662000000000...
4      022019111010401304006 U00006660000666000000000...
...                                                  ...
59622  022019111195200107002 B00005280000528000000000...
59623  022019111195200107003 B00006190000619000000000...
59624  022019111195200107006 A00006150000615000000000...
59625  022019111195200107006 B00006990000699000000000...
59626  022019111195200108009 B00008150000815000000000...

[59627 rows x 1 columns]

In [23]:
df = pd.concat(output, ignore_index=True)

In [49]:
columns = [(1, 2, "election_type"), (3, 6, "year"), (7, 8, "month"), (9, 9, "n_round"),
(10, 11, "state_id"), (12, 13, "province_id"), (14, 16, "commune_id"), (17, 18, "district_commune_id"),
(19, 22, "section_id"), (23, 23, "polling_code"), (24, 29, "candidate_id"), (30, 36, "value")]

df = pd.read_csv(ZipFile(path).open("10021911.DAT"), header=None)

for column in columns:
    df[column[2]] = df[0].str[column[0] - 1:column[1]]
    
df["polling_id"] = df["state_id"] + df["province_id"] + df["commune_id"] + df["district_commune_id"] + df["section_id"] + df["polling_code"]
df[["candidate_id", "value"]] = df[["candidate_id", "value"]].astype(int)
df.head()

,0,election_type,year,month,n_round,state_id,province_id,commune_id,district_commune_id,section_id,polling_code,candidate_id,value,polling_id
0,022019111010400101001 B0000980000000,02,2019,11,1,01,04,001,01,001,B,98,0,010400101001 B
1,022019111010400201001 B0000980000000,02,2019,11,1,01,04,002,01,001,B,98,0,010400201001 B
2,022019111010400301001 U0000580000000,02,2019,11,1,01,04,003,01,001,U,58,0,010400301001 U
3,022019111010400301002 A0000090000002,02,2019,11,1,01,04,003,01,002,A,9,2,010400301002 A
4,022019111010400301003 A0000090000000,02,2019,11,1,01,04,003,01,003,A,9,0,010400301003 A

In [52]:
df = pd.merge(df, df_candidates[["candidate_id", "candidate"]], on="candidate_id")
df.head()

,0,election_type,year,month,n_round,state_id,province_id,commune_id,district_commune_id,section_id,polling_code,candidate_id,value,polling_id,candidate
0,022019111010400101001 B0000980000000,02,2019,11,1,01,04,001,01,001,B,98,0,010400101001 B,PUM+J ...
1,022019111010400201001 B0000980000000,02,2019,11,1,01,04,002,01,001,B,98,0,010400201001 B,PUM+J ...
2,022019111010400303003 C0000980000000,02,2019,11,1,01,04,003,03,003,C,98,0,010400303003 C,PUM+J ...
3,022019111010400602001 A0000980000000,02,2019,11,1,01,04,006,02,001,A,98,0,010400602001 A,PUM+J ...
4,022019111010401101002 A0000980000000,02,2019,11,1,01,04,011,01,002,A,98,0,010401101002 A,PUM+J ...

In [62]:
df_location = df[["polling_id", "state_id", "province_id", "commune_id", "district_commune_id"]].to_csv(f"data_output/Spain/{year}_{month}_location.csv.gz", compression="gzip", index=False)

In [54]:
df.groupby("candidate").agg({"value": "sum"}).sort_values("value")

                                                      value
candidate
UDT                                                      26
C 21                                                     88
LOS VERDES                                              103
IZAR                                                    115
DPL                                                     222
...                                                     ...
PODEMOS-IU                                          1269490
Cs                                                  1676272
VOX                                                 3690183
PP                                                  4966699
PSOE                                                5431852

[90 rows x 1 columns]

In [50]:
columns = [(1, 2, "election_type"), (3, 6, "year"), (7, 8, "month"), (9, 14, "candidate_id"),
(15, 64, "candidate"), (65, 214, "candidate_description"), (215, 220, "candidate_code_province"), 
(221, 226, "candidate_code_state"), (227, 232, "candidate_code_country")]

df_candidates = pd.read_csv(ZipFile(path).open("03021911.DAT"), encoding="latin-1", header=None)

for column in columns:
    df_candidates[column[2]] = df_candidates[0].str[column[0] - 1:column[1]]

df_candidates[["candidate_id"]] = df_candidates[["candidate_id"]].astype(int)
    
df_candidates

,0,election_type,year,month,candidate_id,candidate,candidate_description,candidate_code_province,candidate_code_state,candidate_code_country
0,02201911000002AHORA CANARIAS ...,02,2019,11,2,AHORA CANARIAS ...,AHORA CANARIAS: Alternativa Nacionalista Canar...,000002,000002,000002
1,02201911000003ANDECHA ...,02,2019,11,3,ANDECHA ...,ANDECHA ASTUR ...,000003,000003,000003
2,02201911000005AUNACV ...,02,2019,11,5,AUNACV ...,AUNA COMUNITAT VALENCIANA ...,000005,000005,000005
3,02201911000006AVANT ADELANTE LOS VERDES ...,02,2019,11,6,AVANT ADELANTE LOS VERDES ...,AVANT ADELANTE LOS VERDES ...,000006,000006,000006
4,02201911000007AVANT ADELANTE LOS VERDES ...,02,2019,11,7,AVANT ADELANTE LOS VERDES ...,LOS VERDES ECOPACIFISTAS ADELANTE ...,000007,000006,000006
...,...,...,...,...,...,...,...,...,...,...
101,02201911000113UPL ...,02,2019,11,113,UPL ...,UNIÓN DEL PUEBLO LEONÉS ...,000113,000113,000113
102,02201911000114VERDES ...,02,2019,11,114,VERDES ...,LOS VERDES ...,000114,000114,000114
103,02201911000115LOS VERDES ...,02,2019,11,115,LOS VERDES ...,LOS VERDES ...,000115,000115,000114
104,02201911000116VOX ...,02,2019,11,116,VOX ...,VOX ...,000116,000116,000116
105,02201911000117XAV ...,02,2019,11,117,XAV ...,POR ÁVILA ...,000117,000117,000117

In [56]:
df_filtered = df[["candidate", "value", "polling_id"]].copy()
df_filtered["rank"] = df_filtered.groupby(["polling_id"])["value"].rank("min", ascending=False).astype(int)

In [57]:
tt = df_filtered.groupby(["polling_id", "candidate"]).agg({"value": "sum"})
tt["rate"] = tt.groupby(level=[0]).apply(lambda x: x/x.sum())
tt = tt.reset_index()
tt = tt[["polling_id", "candidate", "rate"]]

In [58]:
df_filtered = pd.merge(df_filtered, tt, on=["polling_id", "candidate"])

In [60]:
df_filtered.to_csv(f"data_output/Spain/{year}_{month}.csv.gz", compression="gzip", index=False)